:root {
    --color-black: hsl(0, 0%, 10%);
    --color-darks: hsl(0, 0%, 25%);
    --color-greys: hsl(0, 0%, 60%);
    --color-dark-greys: hsl(0, 1%, 37%);
    --color-light: hsl(0, 0%, 95%);
    --color-white: hsl(0, 0%, 100%);
    --color-green-100: hsl(152, 24%, 45%);
    --color-green-200: hsl(152, 24%, 40%);
    --color-green-300: hsl(152, 24%, 35%);
    --display-100: clamp(0.88rem, calc(0.8rem + 0.38vw), 1rem);
    --display-200: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
    --display-300: clamp(1.2rem, calc(1.11rem + 0.43vw), 1.5rem);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --card-gradient: 66%;
    --duration-default:.2s;
    --duration-short: .1s;
    --duration-long: .5s;
}

a {
    text-decoration: none;
    color: #121212BF;
}

li {
    list-style: none;
}

ul{
    padding: 0;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;
    background-color: rgba(207, 204, 204, 0.5);
    display: none;
    pointer-events: none;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.lds-ring {
    display: inline-block;
    position: relative;
    margin: 9px 22px;
    height: 20px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(41, 41, 41) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
