:root {
    --color-black: hsl(0, 0%, 10%);
    --color-darks: hsl(0, 0%, 25%);
    --color-greys: hsl(0, 0%, 60%);
    --color-dark-greys: hsl(0, 1%, 37%);
    --color-light: hsl(0, 0%, 95%);
    --color-white: hsl(0, 0%, 100%);
    --color-green-100: hsl(152, 24%, 45%);
    --color-green-200: hsl(152, 24%, 40%);
    --color-green-300: hsl(152, 24%, 35%);
    --display-100: clamp(0.88rem, calc(0.8rem + 0.38vw), 1rem);
    --display-200: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
    --display-300: clamp(1.2rem, calc(1.11rem + 0.43vw), 1.5rem);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --card-gradient: 66%;
    --light-card-gradient: 40%;
    --duration-default:.2s;
    --duration-short: .1s;
    --duration-long: .5s;
}

a {
    text-decoration: none;
    color: #121212BF;
}

li {
    list-style: none;
}

ul{
    padding: 0;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0;
    font-size: .875em;
}

.field {
    background: #fff;
    padding-left: 6px;
    padding-right: 17px;
    border: 1px solid rgb(146, 146, 146);
    transition: outline 0.1s ease;
    display: flex;
}

.field:hover {
    outline: 1px solid rgb(146, 146, 146);
}

input {
    padding: 10px;
    background: none;
    border: none;
    width: 100%;
}

input:focus{
    outline: none;
}

input[type="text"]:focus + .field {
    outline: 1px solid rgb(146, 146, 146);
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;
    background-color: rgba(207, 204, 204, 0.5);
    display: none;
    pointer-events: none;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.lds-ring {
    display: inline-block;
    position: relative;
    margin: 9px 22px;
    height: 20px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(41, 41, 41) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-group label {
    font-size: 15px;
    left: calc(1px + 1.3rem);
    top: calc(0.64rem + 1px);
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top .1s ease,font-size .1s ease;
    color: rgba(18, 18, 18,.75);
    letter-spacing: 1px;
    line-height: 1.5;
}

.loader {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-top: 2px solid #292929;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-radius: 100px;
    animation: spin 1s infinite linear;
}

.btn .lds-ring {
    padding-right: 18px;
    margin: 0;
}

.disabled_button {
    background: none;
}

.or::before,
.or::after {
    content: "";
}

.or--x::before,
.or--x::after {
    position: relative;
    border-top: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 44.8%;
    margin-bottom: 0.15em;
    overflow: hidden;
}

.or--x::before {
    right: 0.5em;
    margin-left: -50%;
}

.or--x::after {
    left: 0.5em;
    margin-right: -50%;
}

.button-couple {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button.transparent-btn {
    background-color: rgba(0,0,0, .10);
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    color: #121212BF;
    transition: .3s;
}

button.transparent-btn:hover {
    background-color: rgba(0,0,0, .15);
}

button.transparent-btn:focus {
    background-color: rgba(0,0,0, .20);
}

button.stripe-btn {
    background: #5252f2;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    margin-top: 15px;   
    display: flex; 
    gap: 7px;
    justify-content: center;
    transition: .3s;
}

button.stripe-btn:hover {
    background: #3434f0;
}

button.stripe-btn:focus {
    background: #1d1dee;
}