.wrapper {
    display: flex;
    gap: 4rem;
}

.accordion-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none;
}

.filter-tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 20px;
}

.badge {
    color: #121212BF;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    padding: 7px 12px;
    border: 1px solid rgb(146, 146, 146) !important;
    border-radius: 4px;
    transition: outline 0.5s ease;
}

.badge .close {
    background-color: rgb(230, 232, 240);
    border-radius: 50%;
    transition: 0.3s;
}

.badge .close:hover{
    background-color: rgb(206 207 212);
}

.badge:hover {
    outline: 1px solid rgb(146, 146, 146) !important;
}

.small-label{
    margin-bottom: 10px;
    font-size: 0.800em;
    color: #121212BF;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
}

.container {
    max-width: 88rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
    padding: 8px;
}
.form-check-input:checked {
    background-color: #fff;
    border-color: #000;
}

.form-check-input:checked[type=checkbox] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>');
}
.form-check-input:focus {
    box-shadow: none;
    border-color: #000;
}

.brand-item {
    display: none;
}

.brand {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #15323f;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    -moz-column-gap: 1rem; 
    width: 100%;
    height: 4.6rem;
    margin: 0 auto;
    background: none;
    border-bottom: 1px solid #fff;
    padding-top: 29px;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    background-color: var(--color-white);
    box-shadow: var(--shadow-medium);
    transition: all 0.45s ease-in-out;
}
.menu.is-active {
    top: 0;
    left: 0;
}
.menu-inner {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin: 1.25rem;
    list-style-type: none;
    padding-left: 0;
}
.menu-link {
    font-family: inherit;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-white);
    transition: all 0.3s ease;
    text-decoration: none;
}
.menu-link:hover {
    color: hsl(0deg 6% 60%);
}

.cart-icon {
    margin-bottom: 5px;
}

.cart-quantity {
    margin-left: 11px;
}

.plain-btn {
    background: none;
    border: none;
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    order: -1;
    width: 1.75rem;
    height: auto;
    border: none;
    outline: none;
    visibility: visible;
    z-index: 1;
}
.burger-line {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 2px;
    margin: 6px auto;
    transform: rotate(0deg);
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.banner-section {
    display: flex;
    overflow: hidden;
    height: 120vh;
    padding-top: 115px;
    padding-bottom: 140px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(38,38,38,.96)),to(rgba(17,17,17,.9))),url(/static/images/banner-bg.jpeg);
    background-image: linear-gradient(180deg,rgba(17,17,17,.9),rgba(38,38,38,.96)),url(/static/images/banner-bg.jpeg);
    background-position: 0 0,50% 50%;
    background-attachment: scroll,fixed;
}

.banner-left {
    display: flex;
}

.seperator-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 137px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    padding-top: 83px;
    height: 106vh;
    padding-bottom: 33px;
}

.slogan-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    left: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.wrapper-block {
    width: 1px;
    border-left: 1px dashed #fff;
    height: 60%;
    flex: 1;
}

.banner-paragpraph {
    font-size: 19px;
    color: #fff;
    padding: 15px;
    padding-top: 220px;
}

.banner-paragpraph h1 {
    font-size: 77px;
    text-transform: uppercase;
    font-family: Neoneon,sans-serif;
    max-width: 550px;
    font-family: 'Alumni Sans Inline One', cursive;
}

.button-light {
    background-color: #fff;
    color: #000;
    padding: 12px 27px;
    border-radius: 0;
    word-spacing: 3px;
}

.button-light:hover {
    color: #fff;
    border-color: #fff;
}

/* BANNER ANIMATION */
.fmc-bg-container{position: absolute;top: 8%;bottom: 0;right: 0;width: 100%;height: 100%;overflow: hidden;perspective: 1000px;max-width: 600px;} .fmc-layout{max-width: 500px;height: 100%;margin: auto;position: relative;perspective: 1000px;}  /* Circle*/ .fmc-circle:nth-child(1){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateY(1000deg) rotateX(1000deg) rotate(0deg); width: 50px; height: 50px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); animation: scaleOne 5.5s infinite alternate linear; opacity: 0; } @keyframes scaleOne{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateY(180deg) rotateX(90deg) rotate(1000deg); opacity: 0; } } .fmc-circle:nth-child(2){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateX(135deg) rotateY(135deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-left: none; border-top: none; animation: scaleTwo 5s infinite alternate linear; } @keyframes scaleTwo{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateX(135deg) rotateY(135deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(3){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateX(45deg) rotateY(45deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-bottom: none; border-left: none; animation: scaleThree 4.5s infinite alternate linear; } @keyframes scaleThree{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateX(45deg) rotateY(45deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(4){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateX(45deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-top: none; border-right: none; animation: scaleFour 4s infinite alternate linear; } @keyframes scaleFour{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateX(45deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(5){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateX(135deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-bottom: none; border-left: none; animation: scaleFive 3.5s infinite alternate linear; } @keyframes scaleFive{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateX(135deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(6){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateX(100deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 15px solid rgba(255,255,255,0.5); border-bottom: none; border-right: none; animation: scaleSix 3s infinite alternate linear; } @keyframes scaleSix{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateX(100deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(7){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateY(-105deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 20px solid rgba(255,255,255,0.5); border-bottom: none; border-left: none; animation: scaleSeven 2.5s infinite alternate linear; } @keyframes scaleSeven{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateY(-105deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(8){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateY(45deg) rotateX(45deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-bottom: none; border-left: none; animation: scaleEight 2s infinite alternate linear; } @keyframes scaleEight{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateY(45deg) rotateX(45deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(9){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateY(135deg) rotateX(135deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-bottom: none; border-right: none; animation: scaleNine 1.5s infinite alternate linear; } @keyframes scaleNine{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateY(135deg) rotateX(135deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(10){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateY(113deg) rotateX(115deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-bottom: none; border-right: none; animation: scaleTen 3s infinite alternate linear; } @keyframes scaleTen{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateY(113deg) rotateX(115deg) rotate(360deg); opacity: 0; } } .fmc-circle:nth-child(11){ position: absolute; top: 50%; left: 80%; transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(0deg); width: 500px; height: 500px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.5); border-bottom: none; border-right: none; animation: scaleEleven 2s infinite alternate linear; } @keyframes scaleEleven{ 100%{ border-radius: 50%; transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(360deg); opacity: 0; } } /* End Circle */

.img-layout {
    background: url(https://www.freepngimg.com/thumb/light/69355-light-sunshine-vector-vecteur-pattern-glow.png) no-repeat center;
    background-size: contain;
    transform: translate(0,0);
    opacity: 0;
    -webkit-animation: blink 2s infinite 2s none, vertical 1s ease-in-out infinite 2s alternate;
    animation: blink 2s infinite 2s none, vertical 1s ease-in-out infinite 2s alternate;
    margin: 0 auto;
    position: absolute;
    top: 24%;
    bottom: 0;
    right: -23%;
    width: 80%;
    height: 80%;
    transform: rotate(30deg);
}


@-webkit-keyframes blink {
  0% {opacity: .2;}
  50% {opacity: 1;}
  100% {opacity: .2;}
}
@keyframes blink {
  0% {opacity: .2;}
  50% {opacity: 1;}
  100% {opacity: .2;}
}

@-webkit-keyframes vertical {
  0% {transform:translateY(-5px);}
  100% {transform:translateY(  0px);}
}
@keyframes vertical {
  0% {transform:translateY(-5px);}
  100% {transform:translateY(  0px);}
}
  
/* BANNER ANIMATION END */


/* PAGES */
.pages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    max-width: 65rem;
    padding-top: 65px;
    padding-bottom: 65px;
}

.page-item {
    color: #fff;
    background-color: #000;
    border-radius: 15px;
    border-width: 1px;
    border-color: #000;
}

.page-item:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s
}

.page-item .page-title {
    text-transform: capitalize;
    text-align: center;
    padding: 100px;
    font-size: 24px;
}

/* PAGE END */

/* MOVING OBJECTS */
#rotating-section{ 
    position: relative;
    background: rgba(17,17,17,.9) top center no-repeat fixed;
    overflow: hidden;

}

.rect1,.rect2,.rect3,.rect4{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -150px;
    background: #dadada3d;
    -webkit-animation: mymove2 4s linear infinite;
    opacity: 0.5;
}

.rect1{left:50%;}
.rect2{left:10%;-webkit-animation-delay:0.3s;}
.rect3{left:25%;-webkit-animation-delay:2s;}
.rect4{left:85%;-webkit-animation-delay:1s;}


.rect5,.rect6,.rect7,.rect8{
    position:absolute;
    width:50px;
    height:50px;
    background:#dadada3d;
    bottom:-150px;
    -webkit-animation: mymove2 4s linear infinite;	
}

.rect5{left:0%;}
.rect6{left:15%;-webkit-animation-delay:2.2s;}
.rect7{left:45%;-webkit-animation-delay:0.8s;}
.rect8{left:77%;-webkit-animation-delay:1.4s;}



@-webkit-keyframes mymove2{

0%{	transform:rortate(0deg);opacity:1;}
100%{transform:rotate(540deg);opacity:0;bottom:340px;}
}

@-webkit-keyframes mymove3{

0%{	transform:rortate(0deg);opacity:1;}
100%{transform:rotate(720deg);opacity:0;bottom:540px;}
}

@-webkit-keyframes mymove4{	
0%{	transform:rortate(0deg);opacity:1;}
100%{transform:rotate(720deg);opacity:0;bottom:540px;}
}

@-webkit-keyframes mymove5{	
0%{	opacity:1;}
100%{opacity:0;bottom:540px;}
}

/* SPECIAL OFFERS */
.cta-content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cta-content span.wow{
    margin: auto;
    font-family: work sans,sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    color: #ddd;
}

.cta-content h2.wow{
    color: #fff;
    font-size: 42px;
    line-height: 46px;
}

.services-container {
    max-width: 74rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
    padding-bottom: 75px;
}
.services {
    background-image: linear-gradient(180deg,rgba(17,17,17,.9),rgba(38,38,38,.96)),url(/static/images/banner-bg.jpeg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 2rem;
    padding: 86px 0;
    border-radius: 20px;
}

.service-item {
    text-align: center;
}

.service-item a{
    cursor: pointer;
}

.service-item .plain-btn img{
    border: 3px solid #fff;
    padding: 36px;
    border-radius: 50%;
}

.service-item .plain-btn img:hover {
    background: rgb(64 65 65 / 80%);
    transition: 0.3s;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    position: relative;
    bottom: 130px;
}

.swiper-wrapper{
    height: auto;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
}

.swiper-slide.card{
    border-radius: 0;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
}
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-content .small {
    color: #000;
}
.image-content{
    position: relative;
    row-gap: 5px;
    height: 250px;
    width: 100%;
}
.card-image{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
    animation: fadein 2s;
}
.description{
    font-size: 14px;
    color: #707070;
    display: flex;
    gap: 10px;
    align-items: center;
}

.swiper-navBtn{
    color: #000;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: rgb(66, 66, 66);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #000;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #000;
}

.product-card {
    cursor: pointer;
}

.product-card:hover .card-content a{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.description .price{
    text-decoration: line-through;
}

.discount-price {
    font-size: 16px;
    color: #000;
}

/* SPECIAL OFFERS END */


/* WHAT WE DO */
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window {
    position: fixed;
    /* background-color: rgb(64 65 65 / 80%); */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.314);
    backdrop-filter: blur(10px);
}

.modal-window .modal-block {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 27px;
    background: rgba(38,38,38,.96);
    color: #fff;
    text-align: left;
}

.modal-window .modal-block.modal-white {
    background: #fff;
    border-radius: 10px;
    color: #000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
    overflow-y: auto;
}

.modal-close {
    float: right;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    color: rgb(129, 129, 129);
    transition: 0.3s;
}

.modal-img img {
    width: 100%;
}

.modal-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 13px 27px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-actions a {
    border-radius: 7px;
}
/* WHAT WE DO END */

/* FOOTER */
footer {
    background-color: #fff;
    color: #bbb;
    line-height: 1.5;
    font-family: "Assistant", sans-serif;
}
footer a {
    text-decoration: none;
    color: #121212BF;
}

.ft-title {
    color: #121212;
    font-size: 1.075rem;
    padding-bottom: 0.325rem;    
}

.ft-title-border {
    border-top: 1px solid #121212; 
    max-width: 48px;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 2.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}
  
/* Footer main | Newsletter form */

/* Footer social */
.ft-disclaimer {
    padding: 0 1.875rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0 9.5%;
} 
/* Footer legal */
.ft-legal {
    padding: 3.9375rem 1.875rem;
}


.ft-legal .field select {
    padding: 10px;
    width: 150px;
    background: none;
    border: none;
    cursor: pointer;
}

.footer-content__bottom {
    margin: 0 auto;
    max-width: 69rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ft-legal .field select:focus {
    outline: none;
}

.ft-main-item p {
    color: #121212BF;
}

.ft-main-item ul li {
    font-size: 15px;
    margin-bottom: 10px;
}

.newsletter input{
    width: 300px;
}

.newsletter label{
    margin-bottom: 0.6rem;
    color: #525252;;
}

.cards-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list-payment{
    display: flex;
    gap: 7px;
    margin-bottom: 5px;
}

.footer__copyright{
    font-size: 13px;
}

/* FOOTER END */


/* E-SHOP */ 
.page-header {
    background-image: linear-gradient(rgb(0 0 0 / 38%), rgb(0 0 0 / 38%)),url(/static/images/banner-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.page-header:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-header .container{
    max-width: 80rem;
}

.page-content h2 {
    color: #fff;
    font-size: 36px;
    margin-top: 70px;
    font-weight: 700;
}

.profile,
.eshop{
    max-width: 78rem;
    margin-top: 50px;
}

.profile {
    font-family: 'Nunito', sans-serif;
}

.profile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.category-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;
    gap: 30px;
    margin: 34px auto;
}

.category-item {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.category-item:nth-child(1) {
    background-image: linear-gradient(rgb(0 0 0 / var(--card-gradient)), rgb(0 0 0 / var(--card-gradient))),url(/static/images/solar-panels.jpg);
}

.category-item:nth-child(2) {
    background-image: linear-gradient(rgb(0 0 0 / var(--card-gradient)), rgb(0 0 0 / var(--card-gradient))),url(/static/images/panel-batteries.webp);
}

.category-item:nth-child(3) {
    background-image: linear-gradient(rgb(0 0 0 / var(--card-gradient)), rgb(0 0 0 / var(--card-gradient))),url(/static/images/rails.jpeg);
}

.category-item:nth-child(4) {
    background-image: linear-gradient(rgb(0 0 0 / var(--card-gradient)), rgb(0 0 0 / var(--card-gradient))),url(/static/images/clips.webp);
}

.category-item:nth-child(5) {
    background-image: linear-gradient(rgb(0 0 0 / var(--card-gradient)), rgb(0 0 0 / var(--card-gradient))),url(/static/images/other.jpg);
}

.choice-text,
.category-title {
    text-align: center;
    color: #fff;
}

.category-title h4{
    margin: 0 !important;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
    margin: 80px auto;
}

.collection__header {
    margin-top: 50px;
}

.filter-products {
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    gap: 42px;
}

.extra-filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.extra-filters a{
    color: #121212BF;
    transition: 0.1s;
    cursor: pointer;
}

.extra-filters a:hover{
    color: #000;
}

.dropdown .dropdown-box {
    border-radius: 0.375rem;
    margin-top: 0.5rem;
    min-width: 14rem;
    position: absolute;
    transform-origin: top right;
    z-index: 10;
    display: none;
}

.dropdown-box.open{
    display: block;
}

.dropdown-card{
    background-color: #fff;
    padding: 13px 17px;
    border-radius: 3px;
}

.choice-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.choice-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20rem;
}

.clear-button button{
    padding: 0;
}

.choice-input-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.search-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* PRODUCT DETAILS */
.image-gallery {
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.thumbnail {
    cursor: pointer;
}

.primary,
.thumbnails {
    display: table-cell;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.primary {
    width: 600px;
    height: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 1%;
    border: 1px solid #f4f0f0;
}

.selected .thumbnail-image {
    border: 1px solid #4b4b4bbf;
}

.thumbnail-image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7%;
}

.product {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    max-width: 74rem;
    padding: 10rem 0;
    padding-bottom: 0;
}
.product-info__wrapper{
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.price__sale {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}
.product__sale {
    font-size: 16px;
}

.price-item--regular {
    text-decoration: line-through;
    font-size: 17px;
}
.price-item--discount {
    font-size: 20px;
}

.badge--sales {
    padding: 5px 19px;
    background: #647040;
    color: #fff;
    border-radius: 24px;
    font-size: 0.75rem;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    border: 1px solid #4b4b4bbf;
    border-radius: 0;
    padding: 2px 0.5rem;
    margin-top: 0.5rem;
    gap: 12px;
}

.quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0px 8px;
    cursor: pointer;
}
.quantity-btn svg {
    width: 10px;
    height: 10px;
}
.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.primary-btn{
    background-color: #fff;
    color: #000;
    padding: 12px 27px;
    border-radius: 0;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    gap:7px;
    justify-content: center;
}

.primary-btn:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.primary-btn:focus {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.button-black {
    padding: 12px 27px;
    background: #000;
    color: #fff;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skip-btn {
    cursor: pointer;
    font-size: 22px; 
    color: #000;
}

.product__tax a{
    text-decoration: underline;
    text-underline-offset: 4px;
}
.product__tax a:hover{
    color: #000;
}

.product__size {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.size__value {
    width: 60px;
    border-radius: 25px;
}

.accordion-flush {
    margin-top: 55px;
}

.related-products {
    max-width: 76rem;
    margin-top: 60px;
    font-family: 'Nunito', sans-serif;
}
#down-slide {
    position: absolute;
    /*bottom: 9.4rem;*/
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.img-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*max-height: 67%;*/
    max-height: 87%;
    overflow-y: hidden;
}

.product__title{
    word-break: break-word;
}

.product-description{
    max-width: 380px;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 40px;
}
/* PRODUCT DETAILS END */

/* CART NOTIFICATION */
.cart-notification {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

.cart-notification .card {
    padding: 1.5rem 2.0rem;
    border-radius: 0;
    transition: transform var(--duration-short) ease,visibility 0s var(--duration-short) ease;
}

.cart-notification .card.active {
    transform: translateY(25%);
    transition: transform var(--duration-default) ease,visibility 0s;
    visibility: visible;
    z-index: 1;
}

.notification__header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 30px;
}

.cart-notification__product {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification__product-remove {
    padding: 0;
    font-size: 13px;
    color: rgb(59, 129, 175);
    border-left: 1px solid rgb(59, 129, 175);
    padding-left: 10px;
}

.cart-notification__product-info {
    line-height: 100%;
}

.notification-product__feature {
    font-size: 13px;
    color: var(--color-dark-greys);
    padding-right: 5px;
}

.form__error {
    display: none;
    text-align: left;
}

.form__error svg {
    margin-right: 0.7rem;
    margin-top: 0.2rem;
}
/* CART NOTIFICATION END */

/* CART */
.cart-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    opacity: 0;
    z-index: -1;
    transition: .2s;
    background-color: rgba(0,0,0,.8);
}

.cart {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 480px;
    min-width: 320px;
    flex-direction: column;
    overflow: auto;
    background-color: #fff;
    float: right;
    border-radius: 0;
    border: none;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 25%);
    font-family: 'Nunito', sans-serif;
    transform: translateX(100%);
}

.cart.open{
    transform: translateX(0px);
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.cart__header span {
    margin: 0;
    font-size: 21px;
    font-weight: 800;
}

.hide__cart {
    margin: 0;
    padding: 0;
}

.cart__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 24px;
    overflow: auto;
    height: calc(100% - 127px);
    max-height: calc(100% - 127px);
}

.cartitem-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cartitem-info .quantity-control {
    margin-top: 0
}

.cartitem-info .quantity-input {
    padding: 6px; 
    width: 40px
}

.cartitem-info span {
    padding-right: 0;
}

.cart__body .cart-notification__product-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cart__footer {
    padding: 16px 24px 24px;
    flex-direction: column;
    background: #fff;
    display: flex;
    width: 100%;
    gap: 17px;
    position: relative;
    transform: translateY(0px);
}

.cart__footer .primary-btn {
    width: 100%;
    font-size: 13px;
}

.cart__line-item {
    display: flex;
    justify-content: space-between;
}

.cart__empty-state {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
}
/* CART END */

/* SIGN UP & SIGN IN */
#flexibleSignup {
    margin: 6rem auto 9rem;
    text-align: center;
}

.user {
    margin: 6rem auto 9rem;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.user h1 {
    font-weight: 900;
}

.user .input-group {
    display: block;
}

.field input:not(:placeholder-shown) + label, 
input[type="password"]:focus + label,
input[type="number"]:focus + label,
input[type="text"]:focus + label,
input[type="email"]:focus + label{
    font-size: .8rem;
    left: calc(1px + .7rem);
    top: calc(0.17rem - 12px);
    background: #fff;
    padding: 0 7px;
}
.signup__recover {
    display: flex;
    justify-content: space-between;
}
.recover {
    text-decoration: underline;
    text-align: left;
}

#signin {
    text-align: center;
}

#signin button{
    max-width: 12rem;
}

.choose-account-type {
    max-width: 24rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user__type {
    padding: 25px 37px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    transition: .3s;
}
.user__type.selected {
    background: #f4f4f4;
}
.user__type:hover {
    background: #f4f4f4;
}
.user__type svg {
    margin: 0 auto;
}
.signup__agreement {
    text-align: left;
}
.signup__agreement input{
    margin-top: 5px !important;
}

.google-btn {
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transition: .3s;
    border-radius: 3px;
}

.google-btn:hover {
    background-color: #fafafa;
}

.g-signin2 {
    width: 100%;
}

.abcRioButton {
    width: 100% !important;
}

.google-acc__card {
    padding: 30px;
    margin: 0;
}

.google-acc__card .choose-account-type {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.google-acc-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.google-acc-details img {
    border-radius: 50%;
}
/* SIGNUP END */

/* QUOTE */
.quote-builder {
    max-width: 74rem;
    padding: 7rem 0;
    font-family: 'Nunito', sans-serif;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
}

[data-section] {
    margin: 4rem auto auto;
}

[data-section] .input-group {
    display: block;
}

[data-section] form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 23px;
}
/* QUOTE END */

/* PROGRESS BAR */

.progress-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: -58px;
    font-weight: 600;
    font-size: .875rem;
    float: left;
    margin: 0;
    width: 100%;    
    background-color: #edf1f3;
    padding: 20px;
    border-radius: 10px;
}

.step {
    padding: 0;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    pointer-events: none;
    counter-increment: item;
}

.step::before {
    content: counter(item) ". ";
    border: 0;
    background: none;
    border-radius: 50%;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
}

.step.step-completed::before {
    content: "\2713";
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    background: #000;
    border: 1px solid #121212BF;
    font-size: 9px;
}

.progress-section a.step.active.step-completed::before {
    color: #121213BF;
    background-color: #f6f5f0 !important;
    content: counter(item);
    font-family: 'Nunito', sans-serif;
}

.step::before {
    line-height: 1.2rem;
    border: 1px solid #ccc6bf;
    width: 19px;
    height: 19px;
    background: #f6f5f0;
    margin: 0 0 2px 0;
    content: counter(item);
    font-size: 10px;
    position: relative;
    z-index: 1;
}
.step .step-text {
    position: relative;
    display: block;
    line-height: 1.8rem;
    font-weight: 400;
    font-size: .8rem;
    text-transform: none;
    vertical-align: middle;
    transition: .1s;
}
.step.step-completed .step-text {
    color: #082e67;
}
.step:not(:last-child) .step-text:before {
    border-top: 1.5px solid #ccc6bf;
    content: "";
    width: 90%;
    height: 100%;
    position: absolute;
    top: -13px;
    left: 55%;
    pointer-events: none;
}

.step.step-completed .step-text:before {
    border-top: 2px solid #121212BF;
    top: -14px;
}

.step::after{
    height: 0;
}
.step.step-completed::after {
    background: #121212BF;
}
.step:not(:last-child)::after {
    background: #d5dae1;
    width: 0;
    height: 2px;
    display: inline-block;
    content: "";
    margin: 0 0;
    vertical-align: middle;
}

.step.active::before {
    border: 2px solid #121212BF;
    line-height: 1.0rem;
    font-weight: 800;
    z-index: 1;
}

.step.step-completed,
.step.active {
    pointer-events: auto;
}

.step.active .step-text {
    color: #000 !important;
    font-weight: 600;
    font-size: .9rem;
}

.section__caption {
    padding-bottom: 20px;
}

.btn-group-footer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-btn-group-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 18%);
    background-color: #fff;
    padding: 25px 100px;
    margin: 0 !important;
    width: 100%;
}

.choices-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
}

.choice-card {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.choice-card:hover {
    --light-card-gradient: 50%;
}

#installation__type .choice-card:nth-child(1) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://images.unsplash.com/photo-1624397640148-949b1732bb0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
}

#standalone__installation .choice-card:nth-child(1),
#installation__type .choice-card:nth-child(2) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://images.unsplash.com/photo-1509391366360-2e959784a276?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);
}

#standalone__installation .choice-card:nth-child(2) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://www.sungiftsolar.co.uk/wp-content/uploads/2020/07/ground-mounted-solar-e1596213482960.jpg);
}

#standalone__installation .choice-card:nth-child(3) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://www.explorist.life/wp-content/uploads/Camper-Van-Solar.jpg);
}

.summary .choice-card:nth-child(1),
#roof__type .choice-card:nth-child(1) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://www.celuplast.com/wp-content/uploads/2019/10/CLASSICBOND-Pic-4.jpg);
}

.summary .choice-card:nth-child(2),
#roof__type .choice-card:nth-child(2) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://rooftileassociation.co.uk/wp-content/uploads/2016/10/Pantiles.jpg);
}

.summary .choice-card:nth-child(3),
#roof__type .choice-card:nth-child(3) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://lyndonroofing.co.uk/wp-content/uploads/2020/09/Lyndon-Roofing19.jpg);
}

.summary .choice-card:nth-child(4),
#roof__type .choice-card:nth-child(4) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://www.ii-img.com/cmrs-img/products/clicklock-standing-seam.jpg);
}

.summary .choice-card:nth-child(5),
#roof__type .choice-card:nth-child(5) {
    background-image: linear-gradient(
        rgb(0 0 0 / var(--light-card-gradient)), 
        rgb(0 0 0 / var(--light-card-gradient))),
        url(https://www.giantroofing.co.uk/wp-content/uploads/2014/09/image30.jpg);
}

.price-row{
    display: flex;
    float: left;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.price-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.variant-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.variant-details span {
    display: flex;
    font-size: 15px;
}

.choice-card.selected{
    --light-card-gradient: 0%
}

.product-choice {
    transition: .2s;
}

.product-choice.selected {
    box-shadow: 0 0 0 2px #79bf11;
}

.summary {
    padding: 7rem 0;
}

.steps-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.step-btn {
    width: 250px;
    border-radius: 3px;
    background-color: #f7fafb;
    padding: 11px 20px;
    border: none;
    font-size: 14px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

button.step-btn.active,
button.step-btn:hover {
    background: #0e0d0dbf;
    color: #fff;
}

.summary {
    display: flex;
    align-items: flex-start;
    gap: 20px;;
}

h6.section__title {
    padding-bottom: 12px;
}

.quote-pricing-card,
.summary-section {
    margin: 0;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 0;
}

.summary-section {
    min-width: 750px;
    padding: 30px;
}

#storage-system-summary,
#installation-summary {
    display: flex; 
    flex-direction: column; 
    gap: 30px;
}

#parts-pricing-summary .table td {
    vertical-align: middle;
    text-align: center;
}

#parts-pricing-summary table th:not(:nth-child(1)) {
    text-align: center;
}

.item-description {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    text-align: left;
}

.quote-pricing {
    flex: 1 1 auto;
}

.pricing-item { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1rem 1.25rem;
}

/* PROGRESS BAR END */

.toolbar__section {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    position: fixed;
    top: 74px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 8%), 0 3px 8px 0 rgb(0 0 0 / 4%);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0 2.2rem;
}

/*.toolbar__section-left {
    display: flex;
    align-items: center;
    gap: 18px;
    font-weight: 900;
}*/

.toolbar__section-middle {
    display: flex;
    align-items: center;
    gap: 11px;
}

.toolbar__section-middle .btn-back,
.toolbar__section-middle .btn-next {
    --background-color: transparent;
    --border-color: rgba(0,0,0,0.13);
    border: 1px solid var(--border-color);
    padding: 3px;
    border-radius: 4px;
    transition: .3s;
}

.toolbar__section-middle a:hover {
    background-color: #f3f2f2;
    color: #000;
}

.toolbar__section-middle a:focus {
    background-color: #d4d4d4;
    color: #000;
    border: 2px solid #121212BF;
}