<div class="toolbar__section">
    <div class="toolbar__section-middle">
        <a type="button" class="btn-back" data-back="storage-cable" data-href="Storage System">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </a>
        <span class="current-step small">Extra Requirements</span>
        <!--<a type="button" class="btn-next" data-href="Summary" id="concludeQuote">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </a>-->
    </div>
    <a type="button" class="prp-btn" id="concludeQuote">
        Finish Quote
    </a>
</div>
<div class="page-title-wrap text-center">
    <h4 class="sub-title">Would you like help with</h4>
</div>

<form style="max-width: 55rem;margin: 3rem auto auto;" id="extraRequiremet">
    <div class="button-group" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr)); gap: 30px;">
        {% for item in objects %}
        <button class="btn primary-btn" data-id="{{ item.id }}" type="button" style="border-radius: 3px;padding: 15px 50px;border: 1px solid #a3a3a3;flex-direction: column;gap: 1px;">
            {{ item.service_title }}
            <span class="small-price disabled" style="font-size: 13px;">Price: {{ item.service_price }}</span>
        </button>
        {% endfor %}
    </div>
</form>
<!--<div class="btn-group-footer">
    <a type="button" data-back="storage-cable" data-href="Storage System" class="btn primary-btn btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>
    <div class="button-couple">
        <a data-href="Summary" id="skipSummary" type="button" class="btn button-black btn-next">Skip: Summary</a>
    </div>
</div>-->