<div class="toolbar__section">
    <div class="toolbar__section-middle">
        <a type="button" class="btn-back" onclick="history.back();">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </a>
        <span class="current-step small">Extra Requirements</span>
    </div>
    <a type="button" data-modal="finalize-quote" class="prp-btn modal-btn">
        Finish Quote
    </a>
    <div id="finalize-quote" class="modal-window">
        <div class="modal-block modal-white" style="width: 500px;">
            <a data-modal="finalize-quote" title="Close" class="modal-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#000" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                </svg>
            </a>
            <div class="modal-content" style="flex-direction: column;gap:0;margin-bottom: 50px;">
                <p>You must inform the DNO (distribution network operator) of your solar panel instalation. There are differnet requirements depending on the size or complexity of your installation but they can advise what is needed and lots of information can be found online.</p>

                <p>In the future we are looking to bring this service in house so keep an eye out on our website!</p>

                <p>The YSP team</p>
            </div>
            <div class="modal-actions">
                <div class="button-couple" style="justify-content: center;">
                    <button class="btn button-black btn-next" id="concludeQuote" style="border-radius: 6px;">Agree</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="progress-section border-bottom">
    <a class="step step-completed" data-step="Personal Information" data-page="personal-information"><span class="step-text">Personal Information</span></a>
    <a class="step step-completed" data-step="Installation Details" data-page="installation-type"><span class="step-text">Installation Details</span></a>
    <a class="step step-completed" data-step="Panel" data-page="parts"><span class="step-text">Panel</span></a>
    <a class="step step-completed" data-step="Fitting" data-page="parts"><span class="step-text">Fitting</span></a>
    <a class="step step-completed" data-step="Inverter" data-page="parts"><span class="step-text">Inverter</span></a>
    <a class="step step-completed" data-step="Storage System" data-page="storage-system"><span class="step-text">Storage System</span></a>
</div>
<div class="page-title-wrap text-center">
    <h4 class="sub-title">Would you like help with</h4>
</div>

<form style="max-width: 55rem;margin: 3rem auto auto;" id="extraRequiremet">
    <div class="button-group" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr)); gap: 30px;">
        {% for item in objects %}
        <button class="btn primary-btn" data-id="{{ item.id }}" type="button" style="border-radius: 3px;padding: 15px 50px;border: 1px solid #a3a3a3;flex-direction: column;gap: 1px;">
            {{ item.service_title }}
        </button>
        {% endfor %}
    </div>
</form>
<!--<div class="btn-group-footer">
    <a type="button" data-back="storage-cable" data-href="Storage System" class="btn primary-btn btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>
    <div class="button-couple">
        <a data-href="Summary" id="skipSummary" type="button" class="btn button-black btn-next">Skip: Summary</a>
    </div>
</div>-->