<div class="page-title-wrap text-center">
    <h4 class="sub-title">Where will your installation be?</h4>
</div>
<form style="max-width: 40rem;margin: 3rem auto auto;" id="installation__type">
    <div class="form__error small" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        <span class="error__content">
        </span>
    </div>
    <div class="choices-wrapper">
        <div class="choice-card">
            <h3 class="choice-text">Roof</h3>
        </div>
        <div class="choice-card">
            <h3 class="choice-text">Standalone</h3>
        </div>
    </div>
</form>
<div class="btn-group-footer">
    <a type="button" data-back="bill-rate" data-href="Installation Details" class="btn primary-btn btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>
</div>