<div class="page-title-wrap text-center">
    <h4 class="sub-title">Standalone Installation</h4>
</div>
<form style="max-width: 60rem;margin: 3rem auto auto;" id="standalone__installation">
    <div class="choices-wrapper">
        <div class="choice-card">
            <h3 class="choice-text">Field</h3>
        </div>
        <div class="choice-card">
            <h3 class="choice-text">Garden</h3>
        </div>
        <div class="choice-card">
            <h3 class="choice-text">Campervan</h3>
        </div>
    </div>
</form>
<div class="btn-group-footer">
    <a type="button" data-back="installation-type" data-href="monthly-bill-rate" class="btn primary-btn btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>
</div>