<div class="page-title-wrap text-center">
    <h4 class="sub-title">What size Storage System?</h4>
</div>
<form style="max-width: 50rem;margin: 3rem auto auto;" id="storageSystemSize">
    <div class="button-group" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr)); gap: 30px;">
        <button class="btn primary-btn" type="button" style="border-radius: 30px;padding: 15px 50px;">Less than 5 KwH</button>
        <button class="btn primary-btn" type="button" style="border-radius: 30px;padding: 15px 50px;">5-10 KwH</button>
        <button class="btn primary-btn" type="button" style="border-radius: 30px;padding: 15px 50px;">Greater than 10 KwH</button>
    </div>
</form>
<div class="btn-group-footer">
    <a type="button" data-back="storage-system" data-href="Storage System" class="btn primary-btn btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>
</div>