{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>
    header {
        background-image: linear-gradient(rgb(0 0 0 / 38%), rgb(0 0 0 / 38%)),url(/static/images/banner-bg.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: fixed;
        z-index: 2;
    }
    .navbar {
        border-bottom: none;
    }
</style>

<div class="container quote-builder-container">
    <div class="quote-builder">
        <div class="quote-sections">
            <div class="section" id="content" data-section="">
            </div>
        </div>
    </div>
</div>
<script></script>
{% endblock %}