{% extends 'main/base.html' %}

{% block content %}
<style>
    header {
        background-image: linear-gradient(rgb(0 0 0 / 38%), rgb(0 0 0 / 38%)),url(/static/images/banner-bg.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: fixed;
        z-index: 1;
    }
    .navbar {
        border-bottom: none;
    }
</style>

<div class="container quote-builder-container">
    <div class="quote-builder">
        <!--<div class="progress-section">
            <a class="step active" data-step="Personal Information" data-page="personal-information"><span class="step-text">Personal Information</span></a>
            <a class="step" data-step="Installation Details" data-page="installation-type"><span class="step-text">Installation Details</span></a>
            <a class="step" data-step="Panels" data-page="parts"><span class="step-text">Panel</span></a>
            <a href="" class="step" data-step="Fitting" data-page="parts"><span class="step-text">Fitting</span></a>
            <a href="" class="step" data-step="Inverter" data-page="parts"><span class="step-text">Inverter</span></a>
            <a href="" class="step" data-step="Storage System" data-page="cable-length"><span class="step-text">Storage System</span></a>
            <a href="" class="step" data-step="Summary" data-page="summary"><span class="step-text">Summary</span></a>
        </div>-->
        <div class="quote-sections">
            <div class="section" id="content" data-section="">
            </div>
        </div>
    </div>
</div>
{% endblock %}