<form class="user signup">
    <h1>Create Account</h1>
    <div class="input-group">
        <div class="field">
            <input id="firstnameField" type="text" name="first_name" placeholder=" ">
            <label for="firstnameField">First Name</label>
        </div>
    </div>

    <div class="input-group">
        <div class="field">
            <input id="lastnameField" type="text" name="last_name" placeholder=" ">
            <label for="lastnameField">Last Name</label>
        </div>
    </div>

    <div class="input-group">
        <div class="field">
            <input id="emailuserField" type="email" name="email" placeholder=" ">
            <label for="emailuserField">Email</label>
        </div>
    </div>

    <div class="input-group">
        <div class="field">
            <input id="emailuserField" type="text" name="email" placeholder=" ">
            <label for="emailuserField">Username</label>
        </div>
    </div>
    
    <div class="input-group">
        <div class="field">
            <input id="passwordField" type="password" name="password1" placeholder=" ">
            <label for="passwordField">Password</label>
        </div>
    </div>
    <div class="input-group">
        <div class="field">
            <input id="passwordField" type="password" name="password2" placeholder=" ">
            <label for="passwordField">Confirm Password</label>
        </div>
    </div>
    <div class="signup__agreement">
        <div class="choice-input-wrapper ">
            <input type="checkbox" name="agreement" class="form-check-input mt-0"> 
            <label class="form-check-label small" for="">
                Yes, I understand and agree to the Upwork Terms of Service, including the User Agreement and Privacy Policy.
            </label>
        </div>
    </div>
    <div class="signup__recover">
        <a href="{% url 'account_login' %}" class="recover small">Already have an account?</a>
    </div>
    <div id="signin">
        <button class="btn button-black">Sign Up</button>
    </div>
</form>