{% extends 'main/base.html' %}

{% block content %}
<div id="g_id_onload"
    data-client_id="86282417486-r6v2tqpe4pauq01fc11apn11ai3dem16.apps.googleusercontent.com"
    data-callback="handleCredentialResponse">
</div>

<section class="page-header padding">
    <div class="container">
        <div class="page-content">
            <h2>Account</h2>
        </div>
    </div>
</section>

<div class="container">
    <form class="user login">
        <h1>Login</h1>
        <div class="form__error small" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
            <span class="error__content">
            </span>
        </div>
        <div class="input-group">
            <div class="field">
                <input id="usernameField" type="text" name="username" placeholder=" ">
                <label for="usernameField">Username or Company Name</label>
            </div>
        </div>
        
        <div class="input-group">
            <div class="field">
                <input id="passwordField" type="password" name="password" placeholder=" ">
                <label for="passwordField">Password</label>
            </div>
        </div>
        <div class="signup__recover">
            <a href="" class="recover small">Forgot your password?</a>
            <a href="{% url 'signup' %}" class="recover small">Create account</a>
        </div>
        <div id="signin">
            <button class="btn button-black">Sign in</button>
        </div>
        <div class="or or--x" aria-role="presentation"> OR </div>
        <div id="googlebtnDiv"></div> 
    </form>
</div>


{% endblock %}