{% extends 'main/base.html' %}

{% block content %}


<section class="page-header padding">
    <div class="container">
        <div class="page-content">
            <h2>Account</h2>
        </div>
    </div>
</section>

<div class="container profile">
    <div class="form__error small" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        <span class="error__content">
        </span>
    </div>
    <div class="profile__header">
        <h2>Account</h2>
        <button class="plain-btn logout-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
            </svg>
            Log out
        </button>
    </div>

    <div class="profile__content">
        <h5>Order History</h5>
        <br>
        <div class="order-list">
            <table class="table">
                <thead>
                    <th style="width: 100px;">ORDER ID</th>
                    <th style="width: 100px;">GRAND TOTAL</th>
                    <th>ADDRESS</th>
                    <th>STATUS</th>
                    <th>CREATED</th>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td data-label="ORDER ID">{{ order.order_number }}</td>
                        <td data-label="GRAND TOTAL">$ {{ order.total }} USD</td>
                        <td data-label="ADDRESS">{{ order.address }}</td>
                        <td data-label="STATUS"><span class="small-badge">{{ order.status }}</span></td>
                        <td data-label="CREATED">{{ order.created|date:'Y-m-d H:i' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <ul class="pagination">
        {% if orders.has_previous %}
            <li class="page">
                <a type="button" href="?page={{ orders.previous_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 320 512">
                        <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                    </svg>
                </a>
            </li>
        {% else %}
            <li class="page">
                <a type="button" class="disabled">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 320 512">
                        <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                    </svg>
                </a>
            </li>
        {% endif %}
        
        {% if orders.number|add:'-3' > 1 %}
            <li class="page"><a href="?page={{ orders.number|add:'-3' }}">...</a></li>
        {% endif %}
        
        {% for i in orders.paginator.page_range %}
            {% if orders.number == i %}
                <li class="page selected"><a href="#">{{ i }}</a></li>
            {% elif i > orders.number|add:'-2' and i < orders.number|add:'2' %}
                <li class="page"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if orders.paginator.num_pages > orders.number|add:'4' %}
            <li class="page"><a href="?page={{ orders.number|add:'5' }}">&hellip;</a></li>
        {% endif %}
        
        {% if orders.has_next %}
            <li class="page">
                <a type="button" href="?page={{ orders.next_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 320 512">
                        <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/>
                    </svg>
                </a>
            </li>
        {% else %}
            <li class="page disabled">
                <a type="button" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 320 512">
                        <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/>
                    </svg>
                </a>
            </li>
        {% endif %}
        
    </ul>
</div>

{% endblock %}